{% include base_path %}

<!-- start custom head snippets -->

<link rel="icon" type="image/svg+xml" sizes="any" href="{{ base_path }}/images/favicon.svg">
<link rel="shortcut icon" href="{{ base_path }}/images/favicon.svg">
<meta name="theme-color" content="#f7f8fc">
<script src="{{ base_path }}/assets/js/theme.js"></script>
<link rel="stylesheet" href="{{ base_path }}/assets/css/modern.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/motion.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/robot.css">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->
