---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    <canvas class="model-space" aria-hidden="true" hidden></canvas>
    <a class="skip-link" href="#main">Skip to content</a>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include robot.html %}
    {% include scripts.html %}
    <script src="{{ base_path }}/assets/js/robot.js" defer></script>
    <script src="{{ base_path }}/assets/js/motion.js" defer></script>

  </body>
</html>
